<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Movie</title>
</head>
<body>
<!--Dynmaically updates the title of the page depending on the movie-->
<h1 th:text="'Update: ' + ${movie.title}"></h1>
<!--Starts a form that submits updateMovie using POST-->
<form th:action="@{/update}" th:object="${movie}" method="post">
    <input type="text" th:field="*{title}" readonly />
    <input type="text" th:field="*{director}" />
    <input type="number" th:field="*{releaseYear}" />
    <input type="number" th:field="*{runtimeMinutes}" />
    <input type="text" th:field="*{streamingPlatform}" />
    <input type="number" th:field="*{rating}" />
    <input type="text" th:field="*{tags}" />
    <input type="text" th:field="*{dateWatched}" placeholder="YYYY-MM-DD" />
    <button type="submit">Update</button>
</form>

</body>
</html>